.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.image{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30%;
  height: 100px;
  border-radius: 4%;
}
.item_info{
  width: 60%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px;
}
.title{
  font-size: 14px;
  margin: 0;
  padding-top: 10px;
}
.item_quantity{
  margin-top: auto;
}
.item_info_footer{
  display: flex;
  justify-content: space-between;
}
.remove_button{
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}