.container{
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
.title{
  width: 100%;
  position: absolute;
  font-weight: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: ghostwhite;
  font-family: 'brush script mt', cursive;
  
}
.name_image{
  width: 35vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

}
.cart_button{
  background: none;
  border-style: solid;
  width: 80px;
  height: 30px;
  background-color: transparent;
  border-color: ghostwhite;
  color: ghostwhite;
  
  position: absolute;
  top: 100%;
  left: 95%;
  transform: translate(-90%, -110%);
}
.cart_container{
  height: 500px;
  background-color: ghostwhite;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(-105%);
  padding-top: 10px;
  overflow-y: auto;
}
.cart_footer{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.checkout_button{
  margin-left: auto;
  border: none;
  border-style: solid;
  background-color: transparent;
  border-radius: 10%;
}
@media only screen and (max-width: 800px) {
  .container{
    margin-bottom: 10px  
  }
  .title{
    font-size: 75px;
  }
}